{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% trans "Maximiliano Torres Developer" %}</title>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maximiliano Full Stack Software Developer">
    <meta name="keywords" content="developer, programmer, software, torres, javascript">
    <meta name="author" content="Maximiliano Torres">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap & Utilities -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/f660560a2a.js" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="#">{% trans "Torres" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">{% trans "Projects" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">{% trans "Posts" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown pr-3">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {% trans "Language" %} 🌐
                    </a>
                    <div class="dropdown-menu">
                        {% for language in languages %}
                            <a class="dropdown-item" href="/{{language.code}}/">{{language.name}}</a>
                        {% endfor %}
                    </div>
                  </li>
            </ul>
        </div>
    </nav>

    <div id="particles-js"></div>

    <div class="container ">

        {% block content %}

        {% endblock  %}  

    </div>


    <script src="{% static 'particles/particles.min.js' %}"></script>
    
    <script>
        const particles = "{% static '/particles/particles.json' %}"

        particlesJS.load('particles-js', particles, function () {
            console.log('callback - particles.js config loaded');
        });
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>